body {
  overflow: hidden;
}

#wlcm {
  color: white;
  position: absolute;
  top: 250px;
  left: 650px;
  
}

.cover1 {
  background-image: url('IMG/coverP.jpg');
  background-size: cover;
  height: 1200px;
  width: 1200;
  margin-left: -10px;
  
}

.Login {
  background-color: darkblue; width: 260px;
  border-radius: 10px;
  border-style: solid;
  border-color: grey;
  position: absolute;
  top: 340px;
  left: 15px;
}

#message {
  position: absolute;
  top: 1000px;
  left: 29px;
}