/* Lines 20-27 */
#beluga {
  margin: 50px; 
  border-radius: 20px;
  border-style: ridge;
}

#Name {
  text-align: center;
  margin-top: -40px; 
  color: white;
  text-shadow: 3px 3px black;
}

#Logout {
position: absolute;
top: 930px;
left: 1140px;



}

